html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

.logo {
    margin-top: -500px;
    position: relative;
    margin-left: 50%;
    transform: translate(-25%, -25%);
    height: 300px;
}

.navbar-inverse {
    background-color: rgba(15, 15, 15, 0.69);
}

.main-container {
    margin-top: -100px;
}

.brand-logo {
    margin-left: -40px;
}

.simple-logo {
    height: 55px;
}

.footer {
    background-color: rgba(15, 15, 15, 0.69);
    margin-top: 200px;
}

nav .sidenav-trigger {
    height: 64px !important;
    margin: 0 0 !important;
}

.menu-image {
    background-color: rgb(0,0,0);
    color: rgb(0,0,0);
    opacity: .1;
}
.menu-image:hover {
    background-color: #0f0f0f;
    color: rgb(0,0,0);
    opacity: 0.9;
}

.image-block {
    background: rgba(0, 0, 0, 0.73);
}

.basket-quantity {
    color: #fff;
    position: absolute;
    max-width: 100%;
    padding-top: 5%;
    padding-left: 5%;
}

.menu-weight {
    color: #fff;
    position: absolute;
    max-width: 100%;
    padding-top: 5%;
    padding-left: 60%;
}
.menu-cost {
    color: #fff;
    position: absolute;
    max-width: 100%;
    padding-top: 10%;
    padding-left: 60%;
    margin-top: 5px;
}
.menu-update {
    margin-right: 70px;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

@media screen and (max-device-width: 1000px) {
    .wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (max-device-width: 700px) {
    .wrapper {
        display: grid;
        grid-template-columns: 1fr;
    }
}

.card {
    margin: 10px;
    height: 35em !important;
}
.menu-image {
    height: 20em;
}

.main-cart-image {
    height: 20em;
}

.input-field input[type=search]:focus:not(.browser-default){
    background-color: rgba(15, 15, 15, 0.13);
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body{
    background: #f2f2f2;
    font-family: 'Open Sans', sans-serif;
}

.search {
    width: 100%;
    position: relative;
    display: flex;
}

.searchTerm {
    width: 100%;
    border: 3px solid #810509;
    border-right: none;
    padding: 5px;
    height: 20px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
}

.searchTerm:focus{
    color: #810509;
}

.searchButton {
    width: 40px;
    height: 45px;
    border: 1px solid #810509;
    background: #810509;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
    width: 30%;
    position: absolute;
    top: 50%;
    left: 80%;
    transform: translate(-50%, -50%);
}

.form-search {
    margin-top: 30px;
}

.fa-search {
    margin-top: -10px;
}

.container {
    margin-top: 40px;
}

.wrap-dish-type {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(50px, auto);
}

@media screen and (max-device-width: 1100px) {
    .wrap-dish-type {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: minmax(50px, auto);
    }
}
@media screen and (max-device-width: 700px) {
    .wrap-dish-type {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: minmax(50px, auto);
    }
}

@media screen and (max-device-width: 500px) {
    .wrap-dish-type {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-auto-rows: minmax(50px, auto);
    }
}

.dish-type {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: minmax(50px, auto);
}

@media screen and (max-device-width: 1100px) {
    .dish-type {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: minmax(50px, auto);
    }
}

@media screen and (max-device-width: 900px) {
    .dish-type {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: minmax(50px, auto);
    }
}

@media screen and (max-device-width: 700px) {
    .dish-type {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: minmax(50px, auto);
    }
}

@media screen and (max-device-width: 500px) {
    .dish-type {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-auto-rows: minmax(50px, auto);
    }
}

.dish-type-button {
    width: 200px;
}

.link-to-autorization {
    color: #810509;
}

.addInShopCart {
    position: relative;
    margin-top: -2em;
    margin-bottom: 2em;
    cursor: pointer;
}

footer {
    margin-top: 5em;
}

.add-menu {
    text-align: center;
}

.button_add_menu {
    text-decoration: none;
    color: #fff;
    background-color: #F44336;
    text-align: center;
    cursor: pointer;
    border-radius: 50px;
    height: 50px;
    width: 50px;
    font-size: 26px;
}

.button_add_menu:hover {
    background-color: #f47f74;
}

footer {
    margin-top: 250px;
}

.image-input {
    text-decoration: none;
    color: #fff;
    background-color: #F44336;
    text-align: center;
    cursor: pointer;
    border-radius: 50px;
    height: 50px;
    font-size: 26px;
}

a {
    color: #0f0f0f;
}

.modal {
    max-height: 100%
}

.report-container {
    box-shadow: 0px 10px 11px 1px rgba(0,0,0,0.29);
    padding: 3% 10%;
    padding-bottom: 10%;
    margin: 10px 5%;
}

.footer-logo {
    max-height: 170px;
}

.basket-minus {
    margin-right: 70px;
}

.basket-plus {
    margin-right: 130px;
}

nav {
    background-color: #795b4c !important;
}

.btn {
    background-color: #810509;
}

.sidenav-trigger {
    background-color: rgba(15, 15, 15, 0);
}

.sidenav-trigger:hover {
    background-color: #810509;
}

.searchButton:hover {
    background-color: #d4433c;
    border: none;
}

.btn:hover {
    background-color: #d4433c;
    border: none;
}

.searchMenu:active {
    border-bottom: #761c19;
}

footer {
    background-color: #795b4c !important;
}

.dish {
    background-color: #390405;
}